
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Radio+Canada&family=Water+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Radio+Canada&family=Roboto+Slab&family=Water+Brush&display=swap');



/*MEDIA QUERIES******/



@media all and (min-width: 200px) and (max-width: 699px){

    .tete {
        display: flex;
        /* border: dashed 3px rgb(52, 37, 179); */
        justify-content: flex-start;
        justify-content: space-between;
    }


    .logo {
        width: 33%;
        /* border: dashed 3px rgb(117, 11, 117); */
        display: flex;
        font-family: 'Radio Canada', sans-serif;
        min-width: 10px;
        margin-left: 2%;
    
    }

    .logoRight{
        width: 1200%;
        /* border: darksalmon dashed 3px; */
    }

    .searchBar {
        display: flex;
        justify-content: flex-end;
        width: 38%;
        /* border: dashed 1px blueviolet; */
        /* padding-left: 12%; */
        padding-top: 2%;
        min-width: 100%;
    
    
    }



    .headRight {
        display: flex;
        /* border: 2px solid red; */
        width: 90%;
        justify-content: flex-end;
    
    }


    .panier{
        /* border: rgb(122, 233, 155) dashed 3px; */
        width: 30%;
    }

    .user{
        /* border: rgb(122, 233, 155) dashed 3px; */
        width: 30%;
    }

    .user i{
        width: 120%;
    }

    .user button{
        width: 120%;
        display: flex;
        justify-content: center;
    }
    nav {
        display: flex;
        background-color: blueviolet;
        color: white;
        margin-top: 2%;
        text-transform: uppercase;
        box-shadow: 1px 1px 1px white;
        justify-content: space-around;
        /* align-items: center; */
        justify-content: center;
    }

    nav div {
        border-right: 1px solid rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        /* padding-left: 10px;
        padding-right: 10px; */
    
    }


    .view{
        display: flex;
        flex-direction: column;
    }
    

    .viewLeft {
        width: 98%;
        display: flex;
        flex-direction: column;
    }
    .cards{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .card


    .viewRight {
        /* border: 2px green dashed; */
        height: 400px;
        /* overflow: hidden; */
        width: 98%;
        display: flex;
        align-items: center;


    
    
        background: linear-gradient(0.25turn, #1b3844, #ebf8e1, #2d1e0f);
    }


    /*CAROUSEL*/
.Carou {
    margin-top: 3%;

    /* border: darkblue dashed 5px; */

    
    margin-right: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;

}

.Carou div{
    margin-right: 2%;
    max-width: 100%;
}

.cardimgCarou{
    border: rgb(189, 186, 186) solid 3px;
}

h3{
    margin-top: 5%;
}

.headRight {
    display: flex;
    /* border: 2px solid red; */
    width: auto;
    justify-content: flex-end;

}

.card {
   
    border: 1px solid gray;
    width: 99%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;


}

.imgLeft {
    width: 35%;
    border: 1px solid rgb(196, 47, 255);
    /* overflow: hidden; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 2%;

}

.infoCard {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 3%;
    padding-right: 1%;

}

.infoCard button{
    margin-bottom: 15px;
    height: 50px;
}




.infoCard div {
    margin-top: 9%;
}


img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: center;

    /* width: 150px; 
height: 150px; 
object-fit: cover; */

}

.viewRight{
    margin-top: 2%;
    width: 100%;
}

.Carou div{
    width: 95%;
    border-top:3px #1b3844 solid ;
    border-bottom: 3px #1b3844 solid ;
    border-right: 3px #1b3844 solid ;
    border-left: 3px #1b3844 solid ;
    margin-top: 1%;

    align-items: center;


}

footer{
    flex-direction: column;
    align-items: center;
    /* border: red dashed 3px; */
    
}

.titleFoot {
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Radio Canada', sans-serif;

}

.rgbd, .navFoot, .contactFoot{
    width: 100%;
    border: gray 2px solid;
    margin-bottom: 15px;
}

.contactFoot div{
    display: flex;
    margin: auto;

    /* border: solid rgb(213, 153, 57) 3px; */
}
.contactFoot i{
    text-align: center;
    width: 100%;
}
.navFoot div{

        display: flex;
        align-items: center;
        justify-content: center;
        /* border: solid rgb(213, 57, 174) 3px; */
}
footer div{
    width: 100%;
    /* border: solid green 3px; */
    
    
}


.headRight {
    display: flex;
    border: 2px solid red;
    width: auto;
    justify-content: flex-end;

}
.headRight div{

    width: 100%;


}

.headRightMob{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 4px solid red; */
    
}
.topHeadRight{
    display: flex;
    justify-content: space-around;
    /* border: rgb(93, 200, 58) 3px solid; */

}

.searchBar{
    /* border: cyan 3px solid; */
    border: gray 2px solid;
    width: 75%;
    

}

.headRight{
    display: none;
}

}