
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Radio+Canada&family=Water+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Radio+Canada&family=Roboto+Slab&family=Water+Brush&display=swap');
/*PARTIE HEADER*/
*{
    padding: 0;
    margin: 0;
}
/*MEDIA QUERIES tablet******/
@media all and (min-width: 700px) and (max-width: 1023px){

    .tete {
        display: flex;
        /* border: dashed 3px rgb(52, 37, 179); */
        justify-content: center;
    }

    .searchBar {
        /* display: flex;
        justify-content: flex-end; */
        width: 38%;
        /* border: dashed 1px blueviolet; */
        /* padding-left: 12%; */
        /* background-color: blueviolet; */
        opacity: 1;
        padding-top: 2%;
        min-width: 20%;
        box-shadow: 5px 1px 1px rgb(224, 222, 222)
    
    
    }



    form{
        
        box-shadow: 1px 1px 1px rgb(224, 222, 222);
        width: 100%;
        border-radius: 3px;

    }

    form button{
        /* border: seagreen solid 3px; */
        width: 25%;
    }
    .search{
        width: 70%;
    }

    .view{
        display: flex;
        flex-direction: column;
    }
    

    .headRight {
        display: flex;
        /* border: 2px solid red; */
        width: 90%;
        justify-content: flex-end;
        box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
    
    }




    nav {
        display: flex;
        background-color: rgb(88, 86, 86);
        color: white;
        margin-top: 2%;
        text-transform: uppercase;
        box-shadow: 1px 1px 1px white;
        justify-content: space-around;
        /* align-items: center; */
        justify-content: center;
    }

    nav div {
        border-right: 1px solid rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        /* padding-left: 10px;
        padding-right: 10px; */
    
    }


    .viewLeft {
        width: 98%;
    }


    .viewRight {
        /* border: 2px green dashed; */
        height: 400px;
        /* overflow: hidden; */
        width: 98%;
        display: flex;
        align-items: center;
        background: linear-gradient(0.25turn, #1b3844, #ebf8e1, #2d1e0f);
    }

    .contactFoot div,i{
        display: flex;
        /* align-items: center; */
        justify-content: space-around;
        /* border: solid rgb(213, 57, 57) 3px; */
        }

    .contactFoot i{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        /* border: solid rgb(65, 57, 213) 3px; */
    
    }

    .contactFoot{
        display: flex;
        justify-content: space-between;
        padding-bottom: 4%;
    }

    .navFoot{
        display: flex;
        justify-content: space-between;
        padding-bottom: 4%;
    }
}

